.virsraksts h1{
    text-align:Center;
    font-weight: bold;
    letter-spacing:4px;
}

.tests{
    background-color: rgb(255, 255, 255);
    height:  700px;
}


.os h1{
    font-size:20px;
    text-align:left;
    margin-top:20px;
    font-weight: bold;
    letter-spacing: 2px;
}
.items{
    margin-top:40px;
}
.items p{
    float:left;
    font-size:15px;
    font-weight: bold;
}

.totalit{
    margin-left:100%
}

.proceed{
    margin-top:600px;
}
.proceed button{
    width: 400px;
}

.subtotal{
    font-weight: bold;
}

/*kreisa puse*/

.tests2{
    background-color: rgb(255, 255, 255);
    height: 700px;
}

.productlist{
    width:500px;
    height:200px;
    background-color:black;
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
}

.product-icon img{
    height: 150px;
    width: 150px;
    margin-left:10%;
    margin-top:5%;
}


.order-card{
    width: 500px;
    height: 200px;
    background-color:rgba(58, 56, 59, 0.13);
    margin-top:40px;
    border-radius: 5px 5px 5px 5px;
}

.order-card-img{
    background-color: rgba(0, 0, 0, 0);
    height: 200px;
}

.order-card-img img{
    height: 150px;
    width: 150px;
    margin-top:25px;
    margin-left:15%
}

.order-card-desc{
    height: 200px;
    background-color: rgba(255, 166, 0, 0);
}

.x-poga{
    margin-left:95%;
}

.x-poga:active{
    border:none;
}

.pirmietris{
    font-size:15px;
    margin-left:10px;
}

.cena{
    text-align:right;
    font-weight: bold;
    font-size:15px;
}