/*laba puse*/
.mid{
    background-color: rgb(219, 219, 219);
    width:100%;
    height:600px;
    border-radius: 0px 15px 15px 0px;

}


/*kreisa puse*/
.krei{
    background-color: rgb(78, 78, 78);
    width:100%;
    height:600px;
    border-radius: 15px 0px 0px 15px;
}


.avatar-zon{
    width: 100%;
    height: 130px;

}

.avatar-pic img{
    border-radius: 50%;
    width:100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:25%;
}

.username h1{
    font-size:15px;
    text-align:center;
    margin-top:5px;
    color:white;
}

/* svitras atdalitajs */
.textdivider hr{
        border-top:solid rgb(59, 59, 59);
        width:100%;
        margin-left:auto;
        margin-right:auto;
}


/*poga*/

.pogas button{
    width:100%;
    height:40px;
    background-color:rgba(255, 255, 255, 0);
    border-color:rgba(255, 255, 255, 0);
    color:White;
    padding-bottom:30px;
}


.pogas button:hover {
    color: #4CAF50;

  }

.pogas svg{
    margin-right:10px;
    margin-top:-5px;
}

.poga-s button{
    width:100%;
    height:40px;
    background-color:rgba(255, 255, 255, 0);
    border-color:rgba(255, 255, 255, 0);
    color:White;
    padding-bottom:30px;
}

.poga-s button:hover {
    color: rgb(145, 1, 1);
    font-weight: bold;
  }

