.viss{
    margin-top:50px;
}
.nosaukums h1{
    text-align:center;
    font-weight: bold;
}

.virsraksts h1{
    font-size:30px;
    margin-top:20px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.kartinu-kopa{
    margin-left:11%;
    margin-top:40px;
}
.kartina{
    max-width: 200px;
    float:left;
    margin-left:5%
}
.bilde{
    max-height: 130px;
}

.laba{
}


.kreisa h1{
    font-size:30px;
    margin-top:20px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.kreisa p{
    font-size:20px;
    margin-top:20px;
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}