
.teksts h1{
    text-align:left;
    margin-top:45%;
    font-size:55px;
    font-weight:bold;
}


.teksts p{
    text-align:left;
    font-family:arial;
    margin-top:5%;
    letter-spacing: 2px;
    font-weight: bold;
}

.button {
    background-color: rgb(77, 76, 76);
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-weight:bold;
    box-shadow: 2px 2px black;
  }

.img-main{
    margin-left:25%;
    margin-top:5%;
}