
.teksts h1{
    text-align:left;
    margin-top:35%;
    font-size:55px;
    font-weight:bold;
}


.teksts p{
    text-align:left;
    font-family:arial;
    margin-top:5%;
    letter-spacing: 2px;
}

.poga-w a{
    font-weight:bold;
    margin-top:5%;
}

.poga-w p {
    text-align:left;
    font-family:arial;
    font-size:12px;
    letter-spacing: 2px;
    margin-top:5px;
}